/*~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
< 
<div class="editor-container"
            ~onkeydown="/*~~~~~~~~~*/"
            ~onkeydown~preventDefault="/*~~~~~~~~~~~~~~~~*/"
            tabindex="0">

<div class="canvas">
    /**/ /**/ ~ ~ ~~ ~ ~ /*~~~~~~~~~~*/ /**/
    ~
        <div class="line">
                <span>/*~~~~~~~~~~~~~~~~~~*/</span>
        </div>
    ~
</div>
    
    <div class="status-bar">
        <span>/*~~~~~~~~*/</span>
        <span>/*~*/ ~ ~~:/*~*/ ~ ~~</span>
    </div>
</div>

